#topReturn
  width: 60px
  margin-left: 1em
  h5
    text-align: center
    color: #444

#sideMenu2
  position: relative
  background: #444
  .menu2
    position: fixed
    right: 1em
    bottom: 1em
    width: 120px
    +menu-style
    li
      margin: 1em 0
      text-indent: 1em
      text-shadow: .5px .5px #fff
      box-shadow: 1px 1px 4px #f9f9f9
      background: #e2e2e2
      border: thin solid #444
      border-top-left-radius: 10px
      border-bottom-left-radius: 10px
      &:hover
        transform: scale(.95) translateX(.5em)
        background: #666
      a
        display: flex
        padding: 5px
        color: #333 !important
        &:hover
          color: #fff !important

#footerTitle
  text-align: center
  a
    font-size: 1em
    color: #f9f9f9 !important
